In [45]:
import pandas as pd
import numpy as np

In [46]:
data = pd.read_csv('aps_failure_training_set_new.txt',sep=',')
data.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [47]:
for i in data.columns:
    print(i,data[i].dtype)

class object
aa_000 int64
ab_000 object
ac_000 object
ad_000 object
ae_000 object
af_000 object
ag_000 object
ag_001 object
ag_002 object
ag_003 object
ag_004 object
ag_005 object
ag_006 object
ag_007 object
ag_008 object
ag_009 object
ah_000 object
ai_000 object
aj_000 object
ak_000 object
al_000 object
am_0 object
an_000 object
ao_000 object
ap_000 object
aq_000 object
ar_000 object
as_000 object
at_000 object
au_000 object
av_000 object
ax_000 object
ay_000 object
ay_001 object
ay_002 object
ay_003 object
ay_004 object
ay_005 object
ay_006 object
ay_007 object
ay_008 object
ay_009 object
az_000 object
az_001 object
az_002 object
az_003 object
az_004 object
az_005 object
az_006 object
az_007 object
az_008 object
az_009 object
ba_000 object
ba_001 object
ba_002 object
ba_003 object
ba_004 object
ba_005 object
ba_006 object
ba_007 object
ba_008 object
ba_009 object
bb_000 object
bc_000 object
bd_000 object
be_000 object
bf_000 object
bg_000 object
bh_000 object
bi_000 object
bj_000 object
bk_000 object
bl_000 object
bm_000 object
bn_000 object
bo_000 object
bp_000 object
bq_000 object
br_000 object
bs_000 object
bt_000 object
bu_000 object
bv_000 object
bx_000 object
by_000 object
bz_000 object
ca_000 object
cb_000 object
cc_000 object
cd_000 object
ce_000 object
cf_000 object
cg_000 object
ch_000 object
ci_000 object
cj_000 object
ck_000 object
cl_000 object
cm_000 object
cn_000 object
cn_001 object
cn_002 object
cn_003 object
cn_004 object
cn_005 object
cn_006 object
cn_007 object
cn_008 object
cn_009 object
co_000 object
cp_000 object
cq_000 object
cr_000 object
cs_000 object
cs_001 object
cs_002 object
cs_003 object
cs_004 object
cs_005 object
cs_006 object
cs_007 object
cs_008 object
cs_009 object
ct_000 object
cu_000 object
cv_000 object
cx_000 object
cy_000 object
cz_000 object
da_000 object
db_000 object
dc_000 object
dd_000 object
de_000 object
df_000 object
dg_000 object
dh_000 object
di_000 object
dj_000 object
dk_000 object
dl_000 object
dm_000 object
dn_000 object
do_000 object
dp_000 object
dq_000 object
dr_000 object
ds_000 object
dt_000 object
du_000 object
dv_000 object
dx_000 object
dy_000 object
dz_000 object
ea_000 object
eb_000 object
ec_00 object
ed_000 object
ee_000 object
ee_001 object
ee_002 object
ee_003 object
ee_004 object
ee_005 object
ee_006 object
ee_007 object
ee_008 object
ee_009 object
ef_000 object
eg_000 object

In [48]:
for i in data.iloc[:,2:].columns:
    data[i][data[i].str.contains('na')] = np.nan

C:\Users\athar\AppData\Local\Temp\ipykernel_27448\1968929581.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i][data[i].str.contains('na')] = np.nan

In [49]:
data

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,NaN,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,NaN,0,NaN,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,NaN,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,NaN,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,neg,153002,NaN,664,186,0,0,0,0,0,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
59996,neg,2286,NaN,2130706538,224,0,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
59997,neg,112,0,2130706432,18,0,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
59998,neg,80292,NaN,2130706432,494,0,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
59999,neg,40222,NaN,698,628,0,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0

In [50]:
data.isna().sum()

class         0
aa_000        0
ab_000    46329
ac_000     3335
ad_000    14861
          ...
ee_007      671
ee_008      671
ee_009      671
ef_000     2724
eg_000     2723
Length: 171, dtype: int64

In [51]:
data.replace(np.nan,0,inplace=True)

In [52]:
for i in data.iloc[:,2:]:
    data[i] = data[i].astype('long')

OverflowError: Python int too large to convert to C long